.menu {
    background-color : #D5B0AC;
    text-align: #402E2A;
    font-weight: bold;
    text-align: center;
    
}
.menu span {
    display: inline-table;
    width: 100px;
    height: 30px;
}
.menu_vertical span{
    background-color : #D5B0AC;
    text-align: #402E2A;
    font-weight: bold;
    text-align: center;
}
.menu_vertical span {
    display : block;
    width: 100px;
    height: 30px;
}
span:hover{
    background-color: #9CD08F;
    text-align: #FFFFFF;
    cursor: pointer; 
    
}
